<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label position="floating"> nombre</ion-label>
  <ion-input type="text"  [(ngModel)]="nombrec" name="nombrec" onkeyup="javascript:this.value=this.value.toUpperCase();"> </ion-input>
 </ion-item>

<ion-content>
  <ion-item>
   <ion-label position="floating"> email</ion-label>
   <ion-input type="text"  [(ngModel)]="emailc" name="emailc"></ion-input>
  </ion-item>

  <ion-item>
     <ion-label position="floating"> password</ion-label>   
     <ion-icon flex-right name="eye" [color]="passwordShown === true ? 'dark' : 'medium'" (click)="verPassword()"item-right ></ion-icon> 
     <ion-input   [type]="passwordType" [(ngModel)]="passwordc" name="passwordc" ></ion-input> 
     
  </ion-item>



  <br>
  <ion-button color="secondary" expand="block" (click)="OnSubmitRegister()">REGISTRAR</ion-button>
   <h3>nombre:{{nombrec | uppercase}}</h3>
   <h3>pass:{{passwordc}}</h3>

</ion-content>
